<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="atlas" >
  
  <xacro:include filename="$(find atlas_description)/urdf/atlas_v5_simple_shapes.urdf" />
  <xacro:include filename="$(find sandia_hand_description)/urdf/sandia_hand_simple_shapes.urdf.xacro" />

  <xacro:sandia_hand side="right" parent="r_hand" reflect="1" joint_type="revolute" thumb_angle="0">
    <origin xyz="-0.00179 -0.13516 0.01176" rpy="0 0 -1.57079"/>
  </xacro:sandia_hand>
  <xacro:sandia_hand side="left" parent="l_hand" reflect="-1" joint_type="revolute" thumb_angle="0">
    <!-- v5's left-arm frames are the right arm's rotated pi about z (l_arm_shz
         rpy), so the mirror image of the right mount is x negated, y and
         the rotation unchanged. Verified: fingers now point out past the
         wrist, mirroring the right hand (see CLAUDE.md). -->
    <origin xyz="0.00179 -0.13516 0.01176" rpy="0 0 -1.57079"/>
  </xacro:sandia_hand>

  <xacro:include filename="$(find atlas_description)/urdf/atlas_v5.gazebo" />
  <xacro:include filename="$(find multisense_sl_description)/urdf/multisense_sl_v4.urdf" />

  <gazebo>
    <!-- include plugin for the left sandia hand -->
    <plugin filename="SandiaHandPlugin" name="drcsim_gazebo_ros_plugins::SandiaHandPlugin">
      <side>left</side>
    </plugin>
    <!-- include plugin for the right sandia hand -->
    <plugin filename="SandiaHandPlugin" name="drcsim_gazebo_ros_plugins::SandiaHandPlugin">
      <side>right</side>
    </plugin>
  </gazebo>
</robot>
